h1{
    color: whitesmoke;
    text-align: center;
    font-size: 300%;
    text-shadow: 2px 2px 5px black;
    transition-duration: 2s;
    animation: eu 5s infinite;
}
div{
    transform: translate(250px);
    border-radius: 8px;
    border: solid black 2px;
    width:900px;
   gap: 10px;
    padding: 10px;
    margin:10px;
    background: black;
    color: white;
    box-sizing: border-box;
box-shadow: 3px 3px 5px 4px wheat;
}
p{
    font-family: Courier;
    margin:5px;
    font-size: 120%;
    text-transform: capitalize;
    text-align:justify;
    display: inline-block;
    text-align: center;
    width: fit-content;
    padding: 5px;
}
body{
    background: linear-gradient(to right, grey, black,goldenrod);

}
li,a{
    font-size: 120%;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    margin:10px;
    padding:3px;
    color: thistle;
}
div:hover{
    background: green;
    color: whitesmoke;
    box-shadow: 5px 5px 5px 4px white;
}
a:hover{
    color: blueviolet;
    text-shadow: 2px 2px 5px black;
}
h2{
    text-decoration: red;
    text-align: center;
    font-size: 200%;
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    margin: 0px;
    padding: 5px;
    
}
.bb{
    color: #000;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 120%;
    text-transform: capitalize;
    font-family: 'Courier New';
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    background: yellowgreen;
    box-shadow: 2px 2px 5px black;
}
.bb:hover{
    background: green;
    color: whitesmoke;
    box-shadow: 5px 5px 5px 4px white;
}
img{
    position: fixed;
     float: right;
    width:40px;
    height:40px;
    border-radius:9px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 5px 4px wheat;
}
img:hover{
    width: 300px;
    height: 300px;
}

@keyframes eu{
    0%{color: whitesmoke; text-shadow: 2px 2px 5px black;}
    50%{color: black; text-shadow: 2px 2px 5px whitesmoke;}
    100%{color: whitesmoke; text-shadow: 2px 2px 5px gold;}
}
@media screen and (max-width:1200px){
    body{
        background: linear-gradient(to right, grey, black,goldenrod);
    }
    div{
        transform: translate(0px);
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    p{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    img{
        width:30px;
        height:30px;
    }
}
